

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/*
!/vendor/.keep
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###


/.idea/

/bin/bash/.env.sh

/docker/.env
/docker/log/*/*/*
/docker/bin/bash/.env.sh
/docker/services/nginx/etc/nginx/conf.d/vhost.conf
/docker/services/app/etc/php/7.1-fpm/php.ini
/docker/services/app/etc/php/7.2-fpm/php.ini
/docker/volumes/var/run/php-fpm/*

/.sass-cache/
/css/

/public/css/*
#/public/js/*
/public/vendor
/public/js/vendor

!.keep
!.gitkeep


